<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>x</key>
            <real>505.0000000</real>
            <key>y</key>
            <real>83.0000000</real>
        </dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>387.0000000</real>
            <key>y</key>
            <real>243.0000000</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>496.0000000</real>
            <key>y</key>
            <real>240.0000000</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>267.0000000</real>
            <key>y</key>
            <real>237.0000000</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>101.0000000</real>
            <key>y</key>
            <real>69.0000000</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>140.0000000</real>
            <key>y</key>
            <real>317.0000000</real>
        </dict>
        <key>6</key>
        <dict>
            <key>x</key>
            <real>131.0000000</real>
            <key>y</key>
            <real>234.0000000</real>
        </dict>
        <key>7</key>
        <dict>
            <key>x</key>
            <real>285.0000000</real>
            <key>y</key>
            <real>77.0000000</real>
        </dict>
        <key>8</key>
        <dict>
            <key>x</key>
            <real>399.0000000</real>
            <key>y</key>
            <real>80.0000000</real>
        </dict>
        <key>10</key>
        <dict>
            <key>x</key>
            <real>616.0000000</real>
            <key>y</key>
            <real>83.0000000</real>
        </dict>
        <key>11</key>
        <dict>
            <key>x</key>
            <real>524.0000000</real>
            <key>y</key>
            <real>408.0000000</real>
        </dict>
        <key>12</key>
        <dict>
            <key>x</key>
            <real>556.0000000</real>
            <key>y</key>
            <real>308.0000000</real>
        </dict>
    </dict>
</plist>
